/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        test_macro: test_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(S) &kp T &kp N4 &kp L &kp N3 &kp LS(M) &kp N4 &kp R &kp T &kp Y &kp R &kp N1 &kp N9 &kp N9 &kp N2>;
        };

        krita_save: krita_save {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none>;
            label = "KRITA_SAVE";
        };
    };

    behaviors {
        option_layer: option_layer {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp LEFT_ALT>, <&mo 0>;

            tapping-term-ms = <200>;
        };

        space_command: space_command {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            quick-tap-ms = <(-1)>;
            require-prior-idle-ms = <(-1)>;
            tapping-term-ms = <200>;
        };

        layersearch_tool: layersearch_tool {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYERSEARCH_TOOL";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <(-1)>;
            require-prior-idle-ms = <(-1)>;
        };
    };

    combos {
        compatible = "zmk,combos";

        KritaON {
            bindings = <&tog 1>;
            key-positions = <38 0>;
            timeout-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        krita {
            bindings = <
&kp ESC         &kp F5   &kp W         &kp E                              &layersearch_tool R LS(T)  &kp T          &trans  &trans  &trans  &trans  &trans  &trans
&kp TAB         &kp A    &kp LG(S)     &kp V                              &kp F                      &kp M          &trans  &trans  &trans  &trans  &trans  &trans
&kp LEFT_SHIFT  &kp DOT  &kp UP_ARROW  &kp RIGHT_ARROW                    &kp LEFT_ARROW             &kp B          &trans  &trans  &trans  &trans  &trans  &trans
                                       &space_command LEFT_COMMAND SPACE  &lt 3 LG(LS(Z))            &lt 2 LG(Z)    &trans  &trans  &trans
            >;
        };

        krita_android {
            bindings = <
&trans  &trans  &trans     &trans            &kp LS(T)        &trans         &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp LC(S)  &trans            &trans           &trans         &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans     &trans            &trans           &trans         &trans  &trans  &trans  &trans  &trans  &trans
                           &kp LEFT_CONTROL  &lt 3 LC(LS(Z))  &lt 2 LC(Z)    &trans  &trans  &trans
            >;
        };

        asdf {
            bindings = <
&bt BT_CLR_ALL  &kp Q  &kp W  &kp E   &kp R   &kp T     &trans  &trans  &trans  &trans  &trans  &trans
&trans          &kp A  &kp S  &kp D   &kp F   &kp G     &trans  &trans  &trans  &trans  &trans  &trans
&kp LEFT_SHIFT  &kp Z  &kp X  &kp C   &kp V   &kp B     &trans  &trans  &trans  &trans  &trans  &trans
                              &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        hjkl {
            bindings = <
&trans          &kp Y  &kp U  &kp I      &kp O    &kp P            &trans  &trans  &trans  &trans  &trans  &trans
&trans          &kp H  &kp J  &kp K      &kp L    &kp BACKSPACE    &trans  &trans  &trans  &trans  &trans  &trans
&kp LEFT_SHIFT  &kp N  &kp M  &kp COMMA  &kp DOT  &trans           &trans  &trans  &trans  &trans  &trans  &trans
                              &trans     &trans   &trans           &trans  &trans  &trans
            >;
        };
    };
};
